<% layout("layouts/posts/show"); -%>

<h1><%= post.title; %></h1>
<p>Price: <%= post.price; %></p>
<p>Description: <%= post.description; %></p>
<p>Location: <%= post.location; %></p>
<div>
    <% for (image of post.images) { %>
        <img src="<%= image.url; %>" alt="<%= post.title; %>" width="200" height="200">
    <% } %>
</div>
<div id="map"></div>
<div><a href="/posts/<%= post.id; %>/edit">
        <button>Edit post</button>
    </a></div>
<div>
    <form action="/posts/<%= post.id; %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete post">
    </form>
</div>
<h2>Reviews</h2>
<h3>Create a review</h3>
<form action="/posts/<%= post.id; %>/reviews" method="POST">
    <textarea name="content" id="" cols="30" rows="10" required></textarea>
    <input type="number" name="rating" min="1" max="5" step="1" required>
    <input type="submit" value="Publish review">
</form>
<% for (review of post.reviews) { %>
    <div>
        <p>Author: <%= review.author.username; %></p>
        <p><%= review.content; %></p>
        <p>Rating: <%= review.rating; %></p>
        <div>
            <button class="toggle-edit-review-form">Edit review</button>
            <form action="/posts/<%= post.id; %>/reviews/<%= review.id; %>?_method=PUT" method="POST"
                  class="edit-review-form hidden">
                <textarea name="content" id="" cols="30" rows="10" required><%= review.content; %></textarea>
                <input type="number" name="rating" min="1" max="5" step="1" required value="<%= review.rating; %>">
                <input type="submit" value="Update review">
            </form>
        </div>
        <form action="/posts/<%= post.id; %>/reviews/<%= review.id; %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete review">
        </form>
    </div>
<% } %>

<script>
  const toggles = document.querySelectorAll('.toggle-edit-review-form');
  toggles.forEach(toogle => {
    toogle.addEventListener("click", () => {
      toogle.textContent = toogle.textContent === "Edit review" ? "Cancel" : "Edit review";
      const form = toogle.nextElementSibling;
      form.classList.toggle("hidden");
    });
  });
</script>
